//.final-recognized-word {
//  background-color: #f1f1f1;
//  color: green;
//}
//
//.processed-recognized-word {
//  background-color: #ffffff;
//  color: red;
//}

.word {
  float: left;
  margin: .2em;
  font-size: 4em;
}
