.initial-word {
  color: lightgray;
}

.recognizable-word {
  color: blue;
}

.well-recognized-word{
  color: green;
}

.unrecognized-word {
  color: red;
}



.word {
  float: left;
  margin: .2em;
  font-size: 2em;
}
